/*#You can add global styles to this file, and also import other style files */
/*#Você pode adicionar estilos globais a este arquivo e também importar outros arquivos de estilo*/
//#Aqui teremos uma estilização global e generalizada
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
