<!--#<p>default-login-layout works!</p> -->
<!--# -->
<main>
    <!--#Início Primeira Section-->
    <section class="form-section">
        <img src="/assets/imgs-svg/logo.svg" alt="Imagem da Logo" />
        <h2>{{ title }}</h2>

        <!--#Aqui abaixo teremos a implementação do conteúdo do formulário.-->
        <ng-content></ng-content>

        <!--# -->
        <div class="btn-wrapper">
            <!--# -->
            <button class="btn-primary">{{ primaryBtnText }}</button>

            <!--# -->
            <div class="divider">
                <!--# -->
                <div></div>
                <!--# -->                
                    <span>Or</span>            
                <!--# -->
                <div></div>
            </div>
            
            <!--# -->
            <button class="btn-secondary">{{ secundaryBtnText }}</button>
        </div>
                
    </section>
    <!--#Fim Primeira Section-->

    <!--#Início Segunda Section-->
    <section class="main-section">
        <!--# -->
        <h1>You Should, MoveIt!</h1>
        <!--# -->
        <img src="/assets/imgs-svg/main-ilustration.svg" alt="Imagem de Ilustração">        
    </section>
    <!--#Fim Segunda Section-->
</main>
