<!--#<p>default-login-layout works!</p> -->
<!--# -->
<main>
    <!--#Início Primeira Section-->
    <section>
        <img src="/assets/imgs-svg/logo.svg" alt="Imagem da Logo" />
        <h2></h2>
        <button></button>
        <!--# -->
        <div>
            <span>Or</span>
        </div>
        <!--# -->
        <button></button>        
    </section>
    <!--#Fim Primeira Section-->

    <!--#Início Segunda Section-->
    <section>
        <!--# -->
        <h1>You Should, MoveIt!</h1>
        <!--# -->
        <img src="/assets/imgs-svg/main-ilustration.svg" alt="Imagem de Ilustração">        
    </section>
    <!--#Fim Segunda Section-->
</main>
